/* Some healthy defaults -- Things on all or most pages */

body {
    padding-top: 5rem;
    font-family: "Kanit", "Noto Sans JP", serif;
    text-align: left;
    background-color: #F0E7D8;
    color: black;
}

nav.navbar-default {
    background-color: #AB9B96;
    color: black;
    padding: 1rem;
    border-color: #A63A50;
}

main {
    color: black;
    max-width: 1200px;
}

a {
    color: #A63A50;
}

a:hover {
    color: #A63A50;
}

/* Responsive elements for smaller screens */

@media only screen and (max-width: 700px) {
    body {
        font-size: 1.5rem;
        font-family: "Kanit", "Noto Sans JP", serif;
        text-align: left;
        background-color: #F0E7D8;
        color: black;
    }
}

/* Most pages contain images aligned to the left within a paragraph */

.left {
    width: 350px;
    float: left;
    margin-right: 2%;
    border: 5px solid #A63A50;
}

.video {
    text-align: center;
}

/* Useful class for easily aligning images center when needed. Also increases the size. Mostly for explanatory graphics. */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 5px solid #A63A50;
  }

iframe {
    float: right;
}

table {
    width: 100%;
}

/* Unique styles -- Things we need for bootstrap accordions etc. */

div.accordion {
    box-shadow: 10px 10px black;
}

.card-header {
    background-color: #AB9B96;
    button {
        color: #A63A50;
    }
    
    button:hover {
        color: #A63A50;
    }

    button:focus {
        color: #A63A50;
    }
}

.card-body {
    background-color: #F0E7D8;
    button {
        color: #A63A50;
    }
    
    button:hover {
        color: #A63A50;
    }

    button:focus {
        color: #A63A50;
    }
}

.form-switch {
    margin-left: 25px;
}